<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussion Forum</title>
    <!--------------------------- Bootstrap Css --------------------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styles.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</head>

<body>
    <%- include('partials/header.ejs') %>
        <div class="container">
            <table class="table table-responsive">
                <thead class="table-dark">
                    <th>#</th>
                    <th>Notices</th>
                    <th>Date</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Erp under maintanence</td>
                        <td>30-9-2021</td>
                        <td><a class="btn btn-primary" href="#">More Details</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Notice Regarding Fees Payment</td>
                        <td>30-9-2021</td>
                        <td><a class="btn btn-primary" href="#">More Details</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Notice Regarding Internships</td>
                        <td>30-9-2021</td>
                        <td><a class="btn btn-primary" href="#">More Details</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>ESE exam Guidelines</td>
                        <td>30-9-2021</td>
                        <td><a class="btn btn-primary" href="#">More Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    <%- include('partials/askQuestion') %>
    <%- include('partials/profile.ejs') %>

</body>

</html>